
body { background: url(../images/background.jpg);
}

.container { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: #e7b15a;
}

.questions {
    color: #e7b15a;

}
